/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo della pagina */
body {
    font-family: Spartan League, Lato;
    color: #67452d;
}

/* Header */
header {
    background-color: #fbE6b7;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: red;
    text-decoration: none;
}

/* Sezione Home */
#home {
    background-color: #fff8f2;
    padding: 20px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #fbE6b7;
    color: red;
    padding: 10px;
    text-align: center;
}
