/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo della pagina */
body {
    font-family: Spartan League, Lato;
    background-color: #f4f4f4;
    color: #67452D;
}

/* Header */
header {
    background-color: #FBE6B;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Sezione Home */
#home {
    background-color: #FFF8F2;
    padding: 20px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #FBE6B;
    color: white;
    padding: 10px;
    text-align: center;
}
